* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;

}

header{
        padding: 2px 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        z-index: 999;
        background-color: aliceblue;
        box-shadow:0 0 14px rgb(0, 0,0,3);
}
/**********  Main Menu CSS Code Starts  **********/
.main-menu {
    list-style: none;
  }
  .main-menu a {
    font-weight: 500;
    color: #2b304a;
    font-size: 17px;
    font-family Roboto, sans-serif, arial;
    text-decoration: none;
  }
  .main-menu li {
    float: left;
    padding: 12px 20px;
  }
  /**********  Main Menu CSS Code Ends  **********/
.logo img{
    max-width:1000px;
    height: auto;
}

.section{
    padding: 10%;
}
.main-home{
    width: 100%;
    height:100vh;
    background-color: #f772a9;
    background-image: url(images/back1.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    font-style:italic;

}
.main-text h1{
    color:firebrick;
    font-size: large;



}

.down-arrow
{
    position:absolute;
    top:85%;
    right:10%;
}
.down{
    font-size: 30px;
    color: rgb(241, 145, 193);
    border: 2px  solid rgb(165, 13, 82);
    border-radius: 50px;
    padding: 12px 12px;
}
.down i:hover{
    background-color: #f772a9;
    color:rgb(105, 4, 55);
    transition: all;


}
.center-text h2{
    color: #000;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    

}
.center-text span{
    color: rgb(66, 3, 35);
}

.Products{
    display:gird;
    grid-template-columns:repeat(auto-fit,minmaX(260px,1fr));
    
}
.row{
    position:static;
    transition: all.40s;
}
.row img{
    width: 30%;
    height:auto;
    transition: all.40s;
}
.row image:hover{
    transform: scale(0.9);
}




